.left-side1{
    -fx-background-color: linear-gradient(to bottom right, #022BF7, #02F7BF);
}
.left-side2{
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}
.right-side{
    -fx-background-color: linear-gradient(to bottom left, #022BF7, #02F7BF);
}
.login-border{
    -fx-border-color: #286155;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}
.login-border2{
    -fx-border-color: #286155;
    -fx-border-width: 0 3px 0 3px;
    -fx-padding: 0 5px 0 5px;
}
.btn{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);;
    -fx-text-fill: #fff;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f);;
}
.head{
-fx-background-color: linear-gradient(to bottom left, #00d4ff, #0009ff);
}
.nav{
-fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
}
.navbtn{
-fx-background-color: transparent;
-fx-border-color: #fff;
-fx-border-width: 1px;
-fx-text-fill: #fff;
-fx-font-size: 14px;
}
.navbtn:hover{
-fx-background-color: #fff;
-fx-text-fill: #000;
}
.box{
-fx-background-color: #fff;
-fx-border-radius: 5px;
-fx-border-color: #000;
}
.table{
-fx-background-color: transparent;
-fx-padding: 0;
-fx-border-radius: 5px;
-fx-border-color: linear-gradient(to bottom right, #098c53, #246861);
-fx-border-width: 2px;
}
.table .column-header{
-fx-background-color: linear-gradient(to bottom left, #00d4ff, #0009ff);
}
.table .column-header .label{
-fx-text-fill: #fff;
}
.side{
-fx-background-color: #fff;
}